body {
    font-family: 'Abel', sans-serif;

}

.wrapper {
    width: 1700px;
    height: 850px;
    background-image: url(images/coco.jpg);
    background-size: 100%;
    margin: 0 auto;
}

.logo {
    margin-left: 855px;
    margin-right: 200px;
}

.logo img {
    width: 350px;
    height: 150px;
    margin-top: 100px;
    margin-left: 130px;
}

h1 {
    color: white;
    padding-top: 0px;
    margin-top: 50px;
}

p {
    color: white;
    margin-bottom: 50px;
    font-size: 24px;
}

a {
    background-color: #F28C28;
    padding: 15px;
    color: #FFF;
    border-radius: 10%;
}